#mysql 5.7.16
[client]
character-set-server = utf8
port    = 3306
socket  = /tmp/mysql.sock

[mysqld]
federated
character-set-server = utf8
replicate-ignore-db = mysql
replicate-ignore-db = test
replicate-ignore-db = information_schema
bind-address = 0.0.0.0
user    = mysql
port    = 3306
socket  = /tmp/mysql.sock
basedir = /data/mysql
datadir = /data/mysql/3306/data
log-error = /data/mysql/3306/mysql_error.log
pid-file = /data/mysql/3306/mysql.pid
open_files_limit = 10240
back_log = 128 #我们都是erlang长链接,留点给php用就够了
max_connections = 5000 #最大连接数2000
max_connect_errors = 3000
#table_cache = 614
external-locking = FALSE
max_allowed_packet = 32M
sort_buffer_size = 1M #排序缓冲,过小会用磁盘,权衡,线程相关.如1000连接,则占1G
join_buffer_size = 1M #连接表缓冲,过小会降低性能.
thread_cache_size = 20 #我们都是长链接，建立销毁链接的比较少，线上最多的cache47个，所以改小
#thread_concurrency = 24
query_cache_size = 0 #关掉查询缓存
query_cache_limit = 0 #关掉查询缓存
query_cache_type = 0 #关掉查询缓存
query_cache_min_res_unit = 2k
thread_stack = 192K #每个链接创建时分配的内存
#tx_isolation='REPEATABLE-READ'
tmp_table_size = 64M #内存表和临时表（非用户创建）的大小，线程相关的
max_heap_table_size = 64M #内存和临时表（用户创建）的大小，线程相关的
#log-slave-updates
log-bin = /data/mysql/3306/binlog/binlog
binlog_cache_size = 2M #线程相关的，事务超过大小使用磁盘
binlog_format = MIXED
max_binlog_cache_size = 10G #这个没办法设置太小，因为合服时要用到，太小会导致语句执行失败
max_binlog_size = 1G
relay-log-index = /data/mysql/3306/relaylog/relaylog
relay-log-info-file = /data/mysql/3306/relaylog/relaylog
relay-log = /data/mysql/3306/relaylog/relaylog
expire_logs_days = 4
key_buffer_size = 32M #目前未命中0.2%,256M，改小会增加从磁盘读取的几率，不过仍能控制在1％左右。主要供myisam和内存表使用。
read_buffer_size = 512K #主要用于myisam，留点备用吧
read_rnd_buffer_size = 1M #主要用于myisam，留点备用
bulk_insert_buffer_size = 4M #批量插入数据缓冲，load data 等批量插入使用，过低会降低mysql导入数据速度
myisam_sort_buffer_size = 2M #不用myisam引擎 ,修复myisam,load data, 修改表结构使用
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1

interactive_timeout = 86400 
wait_timeout = 86400  

skip-name-resolve
#master-connect-retry = 10
slave-skip-errors = 1032,1062,126,1114,1146,1048,1396

#master-host     =   192.168.1.2
#master-user     =   username
#master-password =   password
#master-port     =  3306

server-id = 1

#innodb_additional_mem_pool_size = 16M #查看线上服，这个使用的是0 show engine innodb status\G，看in additional pool allocated 0
innodb_buffer_pool_size = 256M
innodb_data_file_path = ibdata1:256M:autoextend
#innodb_file_io_threads = 4
innodb_thread_concurrency = 8
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT #让mysql直接操作文件，官方说会造成性能下降。需要分析buffer pool命中率，如果命中率比较高，可以使用这个。
innodb_log_buffer_size = 4M #innodb redo日志文件缓冲区大小，数据写入时，缓存区写满了，才写log_file，减小会早成io使用增加
innodb_log_file_size = 32M #innodb redo日志文件大小，数据写入时，先会写入到这个文件，保证数据不丢失，回滚操作应该不多，设置小一些。
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 30 #脏页在缓冲区所占比例，建议15～90，占用内存过多时可以在线改，太低了，会使得插入和更新操作变慢。
innodb_lock_wait_timeout = 120
innodb_file_format = Barracuda
innodb_strict_mode = 1
innodb_file_per_table = 1

slow_query_log = 1
slow_query_log_file = /data/mysql/3306/slow.log
log_queries_not_using_indexes = 0 #关掉没使用索引的查询
long_query_time = 2 #超过2秒，记录为慢日志

[mysqldump]
quick
max_allowed_packet = 32M
